
*{
   margin:0;
   padding:0;
   /* box-sizing: border-box; */
}




body{
    background-color: rgb(33, 30, 30);
    border-left: 5px solid blue;
    margin-left: 500px;
   

}

.Google{
    color:white;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
   

}

.poisk{

   padding: 15px;
   border-radius: 20px;
   box-shadow: 0 4px 10px rgb(69, 62, 62);
   background-color:  rgba(157, 155, 155, 0.696);
 
  

}

.poisk input[type="text"]{
   
    background-color: rgba(99, 97, 97, 0);
}
.poisk:hover{
    background-color: rgb(132, 127, 127);
}

.knopki{
    margin-top: 20px;
   

}
.knopki1{
    padding: 6px;
    width:123px;
    font-size: small;
    background-color: grey;
    margin-right: 10px;
    border-radius: 8px;
    color: white;
   
}

.knopki2{
    padding: 6px;
    background-color: grey;
    border-radius: 8px;
    color: white;
    width:123px;
    font-size: small;

}

.text{
    color:rgb(201, 195, 195);
    font-weight: 500;
    font-size: medium;
    margin-top: 50px;
}
.kaz{
    color:rgb(80, 148, 237);
    text-decoration: none;
}

.vverh{
    color:white;
    display: flex;
    flex-direction: row;


}
