body {
    margin:0;
    
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
   
}

main {
    background: white;
    width: 4000px;
    height: 4000px;
    border-radius: 8px;
    
   
}

h1{
    font-weight: 100;
    color: rgb(53, 48, 48);
}
.top{
    height: 40px;  
    background: black;
    color: grey;
    display: flex;
    align-items: center; 
    padding-left: 20px;


}
.top h3{
    margin: 0;
    font-weight: 100;
    
}
form {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    margin-left: 73px;
}
div{
    padding-top:60px;
    padding-left: 360px;
}

#taskInput{
    width:500px;
    height:30px;
    border-radius: 2px;
    border-bottom-color: rgb(117, 114, 114);
    border-top-color:rgb(117, 114, 114) ;
    font-size: small;
    
}

#add{
    width:50px;
    background-color: rgb(55, 113, 195);
    color: white;
    border-radius: 5px;

}

#taskList {
    list-style: none; 
    padding-left: 0;  
    margin: 50px;
    
   
  }

#taskList li{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:15px;
    margin-bottom:0;
    border: 1px solid #ccc;
    
    
}
#taskList li span{
    flex:1;
    text-align: left;
    padding-left: 45px;
}


