* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(8, 18, 26); 
    color: white;
   
}
#photo{
    margin-top: 100px;
    text-align: center;
    max-width: 80%; 
    height: auto;   
    
   
    
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 40px;
    flex: 1;
    width: 100%;
    background-color: rgb(8, 18, 26);
    overflow-y: auto;
}
.logo {
    position: absolute;
    top: 12px;
    left: 20px;
   
    
}

.left {
    flex: 1;
    padding-top: 20px;
    text-align: center;
    
}
.right {
    font-family: sans-serif;
    border-left: 2px solid lightgray;
    padding: 70px 40px;
    background: rgb(31, 43, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.right button{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.right {
    border-left: 1px solid rgb(88, 113, 134);
}

.login-part {
    margin-bottom: 50px;
    
}
.login-part a {
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 6px;
}
.login-part input[type="text"],
.login-part input[type="password"] {
    background: rgb(31, 43, 53);
    color: grey;
    border: 0.2px solid rgb(88, 113, 134);
    font-size: medium;
}
.login-part input[type="text"]:hover{
    border: 1px solid white; 
}
.login-part input[type="password"]:hover{
    border: 1px solid white; 
}
.login-part p {
    margin-bottom: 10px;
   color:rgb(255, 255, 255);
}
.login-part a:hover {
    text-decoration: underline;
}

.login {
    background-color: rgb(0, 136, 244)  ;
    color: white;
    text-align: center;
    border-color:rgb(0, 136, 244);
}
.login:disabled {
    background-color: rgb(0, 136, 244);
    opacity: 0.4;
    cursor: not-allowed; 
}
form:valid .login {
    opacity: 1;
    cursor: pointer;
}
.facebook {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2px solid rgb(88, 113, 134);
    border-radius: 25px;
    margin-bottom: 10px;
    
}
.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 14px;
    color:white;
}
.facebook:hover{
    background-color: rgb(52, 57, 62);

}
.other-part button {
    border-color: rgb(13, 57, 93);
}


.new-acc {
    background: rgb(31, 43, 53);
    border: 20px solid rgb(0, 136, 244); 
    color: rgb(0, 136, 244);
    font-size: medium;
}
.new-acc:hover{
    background-color: rgb(52, 57, 62);
}
.meta {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.gradient{
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 12px;
    text-align: center;
    
    
}

.footer {
    width: 100%;
    background-color: rgb(8, 18, 26);
    border-top: 0.5px solid rgb(88, 113, 134);
}

.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.footer-links {
    margin: 10px;
}